<h1> <%=@user.name%> Teams </h1> 

	<% @user.teams.each do |team| %>
	<li>
		<%= link_to team.name, team_url(team)%> 
	</li>
	<%end%>


	<%= link_to "Edit User", edit_user_url(:id => @user.id)%> 

<p>
<%= link_to "Back to Users", users_url%> 
</p>