<h1> Projects </h1> 

	<% @projects.each do |project| %>
	<li>
		<%= link_to project.title, project_url(project)%> 
	</li>
	<%end%>


	<%= button_to "Create New Project", new_project_url, method: "get" %> 

